:root{
    --light : #fff;
    --dark : #000;
}

$clr-light:var(--light);
$clr-dark: var(--dark);
$clr-primary: #433D3C;
$clr-secondary: #FF0000;
$clr-lightorange: #F6AD49;
$clr-gray: #808080;


$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";